.coursesPage{
	&__title{
		font-weight: bold;
		text-align: center;
		margin-top: 70px;
		font-size: 36px;
	}
}

@media (max-width: 915px){
	.coursesPage{
		&__title{
			text-align: start;
			font-weight: 500;
			font-size: 28px;
		}
	}
}